---
title: contact
layout: 'base.njk'
---
<div class="container-fluid block-background">
  <div class="container">
    <div class="row">
    <div class="col-12">
      <div class="article-hero">
        <div class="article-hero__heading">
          <h1>
            Guide Dogs Victoria <br> improves safety of pregnant <br> dogs  with Milestone Systems 
          </h1>
        </div>
        <div class="gradient-divider"></div>
        <div class="article-hero__info">
          <span> 
            <i class="far fa-file-alt"></i>
            Article
          </span>
          <span>
            <i class="far fa-clock"></i>
            7 min. read
          </span>
        </div>
    </div>
    </div>
  </div>
  </div>
  
</div>
<div class="container">
  <div class="row article-wrapper">
    <div class="col-12 order-2 order-md-1 col-md-4">
      <div class="sidebar-item">
        <div class="article-card make-me-sticky">
          <div class="article-card__image">

          </div>
          <div class="article-card__name">
            Name Namesson
          </div>
          <div class="article-card__title">
            Business area
          </div>
          <div class="msds-btn">
            GET IN TOUCH
          </div>
        <div class="article-card__footer">
          <h4>SHARE</h4>
          <div class="icon-container">
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            
          </div>
        </div>
      </div>
      </div>
      
    </div>
    <div class="col-12 order-1 order-md-2 col-md-7">
      <div class="catagory-tag-wrapper">
        <div class="catagory-tag">Medical</div>
        <div class="catagory-tag"> Hospitality</div>
        <div class="catagory-tag">Health Care

        </div>
       
      </div>
      <div class="article">
        <div class="article__teaser">
          Guide Dogs Victoria in Australia help staff look after pregnant guide dogs, ensuring a safe environment for them and their newborns. Using IP cameras donated by Swinburne University and refurbished by Axis, in conjunction with Milestone XProtect.
        </div>
        <div class="article__divider">
          
        </div>
        <div class="article__subdivision">
          The Challenge
        </div>
        <div class="article__text">
          As one of Australia’s best-known and respected organizations delivering services to people with low vision and blindness, successful breeding of Guide Dogs is critical. Providing the best care for expecting mothers requires 24-hour attention, but needs to be sensitive to the dogs’ routines and general wellbeing.
        </div>
        <div class="article__subdivision">
          The Solution
        </div>
        <div class="article__text">
          In conjunction with Milestone Systems’ XProtect, IP cameras were donated by Swinburne University and refurbished by Axis Communications. The cameras and software afford a much greater degree of visibility and control than was previously possible, and XProtect is able to integrate with a variety of third-party solutions to scaleup the platform when required. 
        </div>
        <div class="article__image">
          
        </div>
        <div class="article__subdivision">
          The advantage
        </div>
        <div class="article__text">
         IP cameras and a video monitoring solution allow Guide Dogs staff to closely watch the whelping room in a non-invasive manner, which helps to provide a more relaxed environment for both dogs and staff. The solution has also helped to solve certain behavioral issues common in expecting mothers and their puppies.  
        </div>
        
        <div class="article__subdivision">
          About Guide Dogs Victoria
        </div>
        <div class="article__text">
         Guide Dogs Victoria has been in operation since 1957 and stands as one of Australia's leading vision service   providers. Having diversified its portfolio significantly as new technologies, skills, and programs become available, Guide Dogs Victoria provides services such as mobility training, occupational therapy, and technology training people with low vision and blindness throughout Victoria. With only 13 percent of funds coming from government support, Guide Dogs Victoria relies on community donations and support from private enterprise. <br> <br>

Puppies born inside the Guide Dogs Victoria program are very precious commodities. When trained, dogs have the potential to become a trusted friend and partner, having a huge positive influence on the life of a person with vision loss. Therefore, the wellbeing of expecting mothers in the facility is crucial, demanding a great deal of attention and care. <br> <br>

When Guide Dogs Victoria began looking for ways to improve the wellbeing of female dogs about to give birth, an advanced surveillance solution topped the list.
          
        </div>
        <div class="quote">
          <div class="quote__icon">
            <i class="fas fa-quote-left"></i>
          </div>
          <div class="quote__text">
            The system allows the highly-skilled staff  to perform better, get more sleep and take more control of our very precious dogs.
          </div>
          <div class="quote__by-line">
            — Paul Metcalf, Guide Dogs Manager
          </div>
        </div>
        
         <div class="article__subdivision">
          Keeping watch
        </div>
        <div class="article__text">
         Guide Dogs Victoria monitors pregnant dogs and gives them full duty-of-care. However, apart from monitoring temperatures to help indicate when a dog is about to go into labor, looking after the pregnant mothers-to-be is intensive work that requires constant vigilance. Twenty-four-hour monitoring of the whelping process takes a toll on staff and veterinarians. It can also affect the dogs, as entering the room wakes them up and makes them think they are likely to be fed or walked, disturbing their routines. At this crucial time, a good night’s sleep is essential. <br> <br>

The whelping room had legacy cameras deployed. They were able to zoom but provided indistinct low-resolution black-and-white images. The lack of quality imaging made it hard for veterinary and nursing staff to make out the individual dogs, their general condition, and whether they had gone into labor. <br> <br>

Guide Dogs Victoria looked for a more scientific approach to the whelping process and installed high-resolution video cameras with Pan, Tilt, and Zoom (PTZ) functionality andWide Dynamic Range (WDR) to remotely monitor the whelping room. This solution required a Video Management Software (VMS) solution as the platform for images to be recorded, monitored and managed. <br> <br>

The Guide Dogs Victoria team at this time, said: “It was really about giving control and freedom back to nursing staff, so that rather than driving in at 1 am to check on a dog, they are able to open the app, and see if the pregnant dog is still asleep or has gone into labor.”  <br> <br>
        </div>
         <div class="article__image article__image--tall">
          
        </div>
        
        <div class="article__subdivision">
          The Milestone Systems solution
        </div>
        <div class="article__text">
          Milestone’s Video Management Software (XProtect Professional Plus) was deployed ina network of cameras in the whelping room. The cameras were donated by Swinburne University and refurbished by Axis Communications. Automatic lighting has been added to the solution so that dimmable lighting can be switched on remotely to check on the dogs in a less obtrusive manner.

PTZ functionality allows the high-definition cameras to search the room with much greater visibility, and with Milestone Systems’ VMS the system can be set up to detect movement, track moving objects, or alert an operator if something unexpected occurs –such as the arrival of unknown objects.“ <br> <br>

The better degree of visibility gives us much greater insight into how the dogs are getting on, and the automation and remote control within the system has made a big impact on staff wellbeing. The highly-skilled staff at Guide Dogs Victoria take their jobs very seriously and invest a lot of professional and emotional care into their work. The system allows them to perform better, get more sleep and take more control of our very precious dogs,” said Paul Metcalf, Guide Dogs Manager. <br> <br>

The dogs at Guide Dogs Victoria are of huge importance to Australia’s low vision and blind community, and an enormous amount of effort and care goes into their development right from day one. With more than sixty years of selective breeding, certain traits and characteristics are strengthened from one generation to the next. <br> <br>

“The staff at Guide dogs Victoria are incredibly devoted to the dogs, and to protect that legacy of breeding positive character traits. This solution – as with everything that goes on at the organization – is about giving maximum control to those staff, enabling them to do the best job possible and recognizing that everyone on board at the organization just wants to help out the dogs as much as they possibly can,” concludes Paul Metcalf. <br> <br>
        </div>
        
      </div>
    </div>
  </div>
</div>
